html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #f7f7f7;
}

body:has(dialog[open]) {
  overflow-y: hidden;
}

.main {
  padding: 1.5em 0;
}

.container {
  max-width: 1140px;
  padding: 0 1.5em;
  margin-inline: auto;
}

.header {
  background-color: #116d6e;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  position: sticky;
  top: 0;
  z-index: 9999;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4em;
  color: #fff;
}

.brand {
  margin: 0;
}

#add-book-dialog {
  inset: 0;
  border: none;
  width: min(100%, 30em);
  padding: 1.5em;
}

#add-book-dialog::backdrop {
  background-color: rgb(0 0 0 / 0.8);
  opacity: 1;
}

#add-book-form {
  font-size: 1.25em;
}

.form__header {
  margin-top: 0;
}

.form__field {
  margin-top: 1em;
}

.form__controls {
  margin-top: 1em;
}

.form__button,
#add-book-button {
  appearance: none;
  border: none;
  font: inherit;
  line-height: 1;
  padding: 0.5em;
  border-radius: 0.15em;
  color: #fff;
  width: 10ch;
  cursor: pointer;
}

#add-book-button {
  color: #321e1e;
  width: 12ch;
}

#add-book-button:hover {
  background-color: #fff;
}

.form__button--add {
  background-color: #116d6e;
}

.form__button--add:hover,
.form__button--add:focus {
  background-color: #0a4142;
}

.form__button--cancel {
  background-color: #cd1818;
}

.form__button--cancel:hover,
.form__button--cancel:focus {
  background-color: #a01313;
}
.form__input {
  font: inherit;
  padding: 0.25em;
  border-radius: 0.15em;
  border: 1px solid rgba(0 0 0 / 0.2);
  display: block;
  margin-top: 0.25em;
  width: 100%;
}

.form__input[type='number'] {
  width: 10ch;
}

.form__input:valid {
  border: 1px solid #008000;
}

.form__input.invalid {
  border: 1px solid #ff0000;
}

.required {
  color: #ff0000;
}

#books-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(24ch, 1fr));
  gap: 1.5em;
}

.book {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  padding: 3em 1em;
  border-radius: 0.15em;
  background-color: #fff;
  color: #4e3636;
  position: relative;
  opacity: 0;
  animation: fade-in 500ms forwards;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  overflow: hidden;
}

.book:hover {
  outline: 2px solid #116d6e;
}

@keyframes fade-in {
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  to {
    opacity: 0;
  }
}

.fade-out {
  opacity: 1;
  animation: fade-out 200ms forwards;
}

.book__title,
.book__author {
  text-align: center;
  margin: 0;
}

.book__title {
  margin: 1em 0 0.5em;
  color: #321e1e;
}

.book__author {
  margin: 1em 0 2em;
}

.book__pages {
  margin-top: auto;
}

.book__delete {
  position: absolute;
  top: 0;
  right: 0;
  width: 2em;
  aspect-ratio: 1;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 1.25em;
}

.book:hover .book__delete {
  font-weight: 600;
  display: block;
  background-color: #cd1818;
  color: #fff;
}
